version: '3.7'

services:
  api:
    build:
      context: .
      target: prod
    command: 'node dist/index.local.js'
    environment:
      NODE_ENV: 'dev'
      DB_URL: postgres://root:123@postgres/user
    volumes:
      - ./src:/usr/src/app/src
    ports:
      - '3000:3000'
  postgres:
    build: postgres
